header {
    background-color: rgb(18, 17, 17);
    display: flex; /* define o elemento como flexivel */
    align-items: center; /* alinha os itens do header */
    justify-content: space-between; /* da espaçamento entre os itens do header */
    padding: 0px 10px; /* preenchimento do header em pixels, para horizontal e vertical */
}
ul{
    margin-right: 10px;
    display: flex;
    flex-direction: row;  /* indica a direção que o flex iraa seguir, se é em linha ou em coluna */
    justify-content: right;
}
li{
    display: flex;
    justify-content: right;
    padding-left: 15px;  /* adiciona um preenchimento a esquerda em 15 pixels */

}
a{
    color: white; /* troca a cor das letras para branco */
    display: flex;
    text-decoration: none; /* tira efeitos de decoração do texto, como sublinhados e negritos */
}
section{
    display: flex;
    justify-content: space-evenly; /* os itens são distribuídos igualmente no espaço disponível */
    align-items: flex-start;
    flex-wrap: wrap; /* define se os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebradas em varias linhas */
    gap: 15px; /* define os espaços entre as linhas e colunas */
}
article{
    flex: 1 1 50px;  /* os elementos podem aumentar para preencher o contêiner  */
}
img{
    display: flex;
    width: 100%;
    height: auto;
    min-width: 175px;
}
body{
    margin: 0;
}
/* define o espaçamento maximo para alterar o site em 670 pixels */
@media screen and (max-width: 670px) {
    /* altera a posção do flex de linha para coluna e o justifica ao final do flex */
    ul{
        flex-direction: column;
        justify-content: flex-end;
    }
    a{
        font-size: 31px;
    }
    /* deixa o tamanho da fonte menor que o tamanho do logo */
    li>a{
        font-size: medium;
        /*  determina que um elemento deve ser colocado ao longo do lado esquerdo do seu containêr,
        textos e elementos em linha irão se posicionar ao seu redor */
        float: left;
        background-color: rgba(108, 105, 105, 0.851);
        margin: 2px;
    }
}